@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #0D1A7E;
}

@keyframes switchAnim {
    0% {
      opacity: 100%;
    } 40% {
      opacity: 0%;
    } 60% {
        opacity: 0%;
    } 100% {
      opacity: 100%;
    }
}

@keyframes show {
  from {
    opacity: 0%;
  } to {
    opacity: 100%;
  }
}

@keyframes hideAnim {
  from {
    opacity: 100%;
  } to {
    opacity: 0%;
  }
}

* {
  font-family: 'Zen Dots', cursive;
  color: #E4E6F3;
}

.switch {
  animation: switchAnim 3s linear;
}

.hide {
  display: none;
}

.home, .game, .end {
  animation: show 3s linear;
  height: 100vh;
  width: 100%;
  text-align: center;
  column-count: 1;
  background-color: #0D1A7E;
}

.home_title, .game_cat {
  font-size: 4rem;
  text-decoration: underline;
}

.home_text {
  font-size: 2rem;
  margin: 2rem 0;
}

.home_select {
  columns: 4;
  column-gap: 10%;
  margin: 6rem 15rem;
}

.home_select_items {
  margin-bottom: 1rem;
  border: 1px solid #E4E6F3;
  border-radius: 20px;
  overflow: hidden;
  font-size: 1rem;
  cursor: pointer;
  background-color: #1F67BF;
}

.home_select_items:hover {
  box-shadow: 5px -5px 10px #27E527;
  background-color: #27E527;
}

.selected_cat {
  box-shadow: 5px -5px 10px #27E527;
  background-color: #27E527;
}

.home_select_img {
  width: 100%;
}

.home_start, .end_button {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  border: 1px solid #E4E6F3;
  border-radius: 20px;
  background-color: #1F67BF;
  cursor: pointer;
}

.home_start:hover, .end_button:hover {
  box-shadow: 5px -5px 10px #27E527;
  background-color: #27E527;
}

.alert_message {
  color: #D32B2B;
}

.game_head {
  font-size: 2rem;
}

.game_question {
  font-size: 1rem;
  margin: 8rem 15rem 4rem 15rem;
}

.game_answers {
  font-size: 1rem;
  margin: 0 20rem;
  columns: 2;
  column-gap: 2rem;
  cursor: pointer;
}

.game_answers_items {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background-color: #1F67BF;
}

.game_answers_items:hover {
  box-shadow: 5px -5px 10px #27E527;
  background-color: #27E527;
}

.game_answers_text {
  width: 100%;
}

.hidden_value {
  display: none;
}

.game_score {
  margin: 0 20rem;
  font-size: 3rem;
}

.end_result {
  font-size: 5rem;
  margin: 5rem 0;
}

.end_result_text {
  font-size: 2rem;
}

.end_commentary {
  font-size: 1rem;
  margin: 0 10rem 5rem 10rem;
}
